@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Antic+Slab&family=Overpass:wght@100;400;600&display=swap");
h1, p {
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Antic Slab', serif;
  font-family: 'Overpass', sans-serif;
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 27px;
}

p {
  font-weight: 100;
  font-size: 15px;
  color: white;
}

.selected-text {
  color: #fb7413;
  background-color: #252d37;
  padding: 4px;
  border-radius: 20px;
  margin-top: 20px;
}

.title {
  margin-top: 35px;
  margin-bottom: 15px;
}

.appreciateText {
  text-align: center;
  margin-bottom: 20px;
}

body {
  background-color: black;
}

main {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  background-color: #1F2630;
  max-width: 370px;
  padding: 25px;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
}

.container .head {
  display: block;
}

.container .container-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container button {
  margin-top: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 310px;
  border-radius: 40px;
  font-size: 15px;
  padding: 10px;
  background-color: #fb7413;
  color: white;
  border: none;
}

.container button:hover {
  background-color: white;
  color: #fb7413;
  cursor: pointer;
}

.head img {
  width: 45px;
  padding: 10px;
  background-color: #252d37;
  border-radius: 30px;
  margin-bottom: 20px;
}

.head h1 {
  margin-bottom: 10px;
}

.rate {
  width: 45px;
  height: 45px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 10px;
  margin-top: 25px;
  background-color: #252d37;
  color: white;
  text-align: center;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.rate:hover {
  background-color: #fb7413;
}

.rate:active, .rate:focus {
  background-color: #959eac;
}

.rateClick {
  background-color: #959eac;
}

.rateClick:hover {
  background-color: #959eac;
}

.attribution {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.attribution p {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */