$color-orange: hsl(25, 97%, 53%);
$color-white:  hsl(0, 0%, 100%);
$color-light-grey: hsl(217, 12%, 63%);
$color-medium-grey: hsl(217, 9%, 30%);
$color-dark-blue: hsl(213, 19%, 18%);
$color-very-dark-blue: #1F2630;